{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Registration Form</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #174643" >
      <div style="width:100%">
        <div class="float-right">
          <a href="/"style="color: #D1F8F6"><button type="button" id ="prof" class="btn btn-outline-light"style="color: #D1F8F6;">Profile</a></button>
          <a href="{% url 'projects' %}"style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Projects</a></button>
          <a href="{% url 'challenge' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Registration</a></button>
          <a href="{% url 'kegiatan-list' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">kegiatans</a></button>
        </div>
      </div>
    </nav>
    <div class="jumbotron"style = "background-color: #174643; margin-bottom: 0;">
      
        <div class="container" style="height: 400px;">
          <div class="row justify-content-center">
    <div class="col" style="text-align: center;">
      <h1 class="display-3" style="color: #D1F8F6; font-size: 8vw">Registration</h1>
    </div>
  </div>
          
        </div>
      </div>
  </header>
  <main style="background-color: #D1F8F6">
    <div class="shortprof">
      <form>
        <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
  </div>
        <div class="form-group">
    <label for="formGroupExampleInput">Date:</label>
    <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
        <div class="col-auto">
      <label for="sr-only">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Confirmation Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </main>
</body>
</html>
