{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #174643" >
      <div style="width:100%">
        <div class="float-right">
          <a href="/"style="color: #D1F8F6"><button type="button" id ="prof" class="btn btn-outline-light"style="color: #D1F8F6;">Profile</a></button>
          <a href="{% url 'projects' %}"style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Projects</a></button>
          <a href="{% url 'challenge' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Registration</a></button>
          <a href="{% url 'kegiatan-list' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">kegiatans</a></button>
        </div>
      </div>
    </nav>
    <div class="jumbotron"style = "background-color: #174643; margin-bottom: 0;">
      
        <div class="container" style="height: 400px;">
          <div class="row justify-content-center">
    <div class="col" style="text-align: center;">
      <h1 class="display-3" style="color: #D1F8F6">Projects</h1>
    </div>
  </div>
          
        </div>
      </div>
  </header>
  <main style="background-color: #D1F8F6">
    <div class="shortprof">
      <h5 style="align-content: center;padding-top: 1rem;text-align: center;">Projects that I've work on. Some of it were collaborative projects and some of them were individual projects</h5>
      <p style="align-content: center;padding-top: 1rem;text-align: center;">Several university projects</p>
      <p style="align-content: center;padding-top: 1rem;text-align: center;">On progress, new poetry book</p>
    </div>
  </main>
</body>
</html>
