{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Hi! I'm Nida</title>
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #174643" >
      <div style="width:100%">
        <div class="float-right">
          <a href="/"style="color: #D1F8F6"><button type="button" id ="prof" class="btn btn-outline-light"style="color: #D1F8F6;">Profile</a></button>
          <a href="{% url 'projects' %}"style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Projects</a></button>
          <a href="{% url 'challenge' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Registration</a></button>
          <a href="{% url 'kegiatan-list' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">kegiatans</a></button>
        </div>
      </div>
    </nav>
		<div class="jumbotron"style = "background-color: #174643; margin-bottom: 0;">
       	<div class="container" style="height: 400px;">
       		<div class="row" style="align-self: center; padding-top: 2rem;">
       			<div class="col-sm-4">
       				<img src="{% static 'img/ok.jpg' %}" width="300px" height="300px" style="border-radius: 30%">
       			</div>
  				<div class="col-sm-8">
  					<h1 class="display-3" style="color: #D1F8F6; text-align: center;">Hi, I'm Annida Safira. </h1>
					<p style="color: #D1F8F6; text-align: center;">I'm 18 years old and live in Jakarta. I currently studying at Universitas Indonesia with Computer Science as my major. I also enjoy reading fictional books.</p>
					<p style="color: #D1F8F6; text-align: center;">Email: annida.safira@ui.ac.id</p>
					<ul style="position: absolute; left: 50%; transform: translate(-50%,0);">
						<a href="https://www.linkedin.com/in/annidasa" style="color: #D1F8F6"><button type="button" class="btn btn-outline-light"style="color: #D1F8F6">LinkedIn</a></button>
						<a href="http://twitter.com/annidasa" style="color: #D1F8F6"><button type="button" class="btn btn-outline-light"style="color: #D1F8F6">Twitter</a></button>
						<a href="http://instagram.com/annidasa" style="color: #D1F8F6"><button type="button" class="btn btn-outline-light"style="color: #D1F8F6">Instagram</a></button>
					</ul>
  				</div>
       		</div>

          

        </div>
      </div>
	</header>
	<main style="background-color: #D1F8F6">

		<h1 style="align-content: center;padding-top: 1rem;text-align: center;">About</h1>
		<p style="align-content: center;padding-top: 1rem;text-align: center;">I was born in Brisbane 18 years ago, and live in Jakarta after that. I love reading books since I was a kindergarten, and started to write stories since I was a 2nd year elementary student on a writing for children website called kidnesia. I interested in computer and technology since then because my parent was a lecturer in a private university  </p>
		<h1 style="align-content: center;padding-top: 1rem;text-align: center;">Experiences</h1>
		<div class="container" style="align-self: center">
        <!-- Example row of columns -->
        <div class="row" style="align-self: center; padding-top: 2rem;">
          <div class="col">
          	<ul>
          		<li>Chatbot Invasion competition Staff. COMPFEST X (2018 – present)</li>
          		<li>Academic Staff. PMB 2018 (new student orientation) (2018 – present)</li>
          		<li>Legislation and judication staff. DPM Fasilkom UI 2018 (2018 – present)</li>
          	</ul>
          </div>
          <div class="col">
          	<ul>
          		<li>Academic Staff. BETIS 2018 (a free university examination course) (2018)</li>
				<li>Mathematics Quiz Competition Event staff. Thamrin Olympiad and Cup (2016) </li>
				<li>Mathematics Quiz Competition LO Staff. Thamrin Olympiad and Cup (2015)</li>
          	</ul>
          </div>
        </div>
        <hr>

        <h1 style="align-content: center;padding-top: 1rem;text-align: center;">Achievements</h1>
        <div class="row" style="align-self: center; padding-top: 2rem;">
          <div class="col">
          	<ul>
          		<li>2nd winner of poetry writing competition. School writing competition (2017) </li>
          		<li>Bronze medalist. Singapore Mathematics Olympiad (2015)</li>
          	</ul>
          </div>
          <div class="col">
            <ul>
            	<li>Semifinalist. MGMP (Mathematics competition in Jakarta) (2015)</li>
				<li>CPSC Semifinalist. PSN (2015)</li>
            </ul>
          </div>
        </div>
        <hr>

        <h1 style="align-content: center;padding-top: 1rem;text-align: center;">Skills</h1>
        <div class="row" style="align-self: center; padding-top: 2rem;">
          <div class="col">
            <ul>
            	<li>Basic Python programming language</li>
				<li>Basic Java programming language</li>
            </ul>
          </div>
          <div class="col">
          	<ul>
          		<li>Screening reading</li>
          		<li>Sad ending stories writing</li>
          	</ul>
          </div>
        </div>
        <hr>

      </div> <!-- /container -->
	</main>
</body>
</html>
