{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>List Kegiatan</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #174643" >
      <div style="width:100%">
        <div class="float-right">
          <a href="/"style="color: #D1F8F6"><button type="button" id ="prof" class="btn btn-outline-light"style="color: #D1F8F6;">Profile</a></button>
          <a href="{% url 'projects' %}"style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Projects</a></button>
          <a href="{% url 'challenge' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">Registration</a></button>
          <a href="{% url 'kegiatan-list' %}" style="color: #D1F8F6"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6">kegiatans</a></button>
        </div>
      </div>
    </nav>
    <div class="jumbotron"style = "background-color: #174643; margin-bottom: 0;">
      
        <div class="container" style="height: 400px;">
          <div class="row justify-content-center">
    <div class="col" style="text-align: center;">
      <h1 class="display-3" style="color: #D1F8F6; font-size: 8vw;">List Kegiatans</h1>
      <div>
         <a href="{% url 'kegiatan' %}"style="color: #D1F8F6;"><button type="button" id = "proj" class="btn btn-outline-light"style="color: #D1F8F6;" >Add New</a></button>
      
      
      <form action="{% url 'kegiatan-del' %}" method="POST" id="form1" style="margin: 5px">{% csrf_token %}</form>
      <button type="button" class="btn btn-danger" form="form1" value="Submit">Delete All</button>

      </div>
     
    </div>
  </div>
          
        </div>
      </div>
  </header>
  <main style="background-color: #D1F8F6">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>
            Hari
          </th>
          <th>
            Tanggal
          </th>
          <th>
            Waktu
          </th>
          <th>
            Nama kegiatan
          </th>
          <th>
            Tipe Kegiatan
          </th>
          <th>
            Tempat kegiatan
          </th>
        </tr>
        {% for kegiatan in listkegiatan %}
        <tr>
          <td>
            {{kegiatan.tanggal_kegiatan|date:"l"}}
          </td>
          <td>
            {{kegiatan.tanggal_kegiatan}}
          </td>
          <td>
            {{kegiatan.waktu_kegiatan}}
          </td>
          <td>
            {{kegiatan.nama_kegiatan}}
          </td>
          <td>
            {{kegiatan.kategori_kegiatan}}
          </td>
          <td>
            {{kegiatan.tempat_kegiatan}}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </main>
</body>
</html>
